.content-wrapper-create {
    display: flex;
    flex-direction: row; /* Выстраиваем элементы по горизонтали */
    width: 100%;
    height: calc(100vh - 90px); /* Убираем пространство для фиксированного хедера */
    padding: 0;
    margin: 0;
}

/* Временно для отладки */
/* * {
    border: 1px solid red;

} */
.main-content-create {
   
    padding: 20px;
    overflow-y: auto;
    flex-direction: column;
    width: 60%; /* Основной контент будет занимать 80% ширины */
    margin: 0;
        
}
.sidebar-create-pr {
    width: 33%;
    background: white;
    padding: 30px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 150px); /* Заполнение всей доступной высоты */
    padding-right: 30px;
    gap: 20px;
}
